*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 18px;
}
h1{
  font-size: 34px;
  line-height: 40px;
}
h2{
  font-size: 24px;
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 50px;
}

/* #region Header */
.header{
  height: 75px;
  background-color: #2396fd	;
  display: flex;
  align-items: center;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
}
.logo-text{
  margin-left: 20px;
}

.logo-description{
  font-size: 12px;
}

.logo-title{
  font-size: 18px;
}

.navigation ul{
  list-style: none;
  display: flex;
}

.navigation a{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation a:hover{
  border-bottom: 3px solid #f4d400;
  padding-bottom: 5px;
}
.navigation li{
  margin-left: 30px;
}
.navigation li:nth-child(1){
  margin-left: 0px;
}

.lang ul{
  list-style: none;
  display: flex;
}

.lang-text{
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  padding: 3px;
}
.lang-text:hover{
  border-bottom: 3px solid yellow;
  border-radius: 6px;
  padding: 3px;
}
.lang li{
  margin-left: 6px;
}
.lang-text.lang-active{
  border-top: 3px solid yellow;
  border-bottom: 3px solid yellow;
  border-radius: 6px;
  padding: 3px;
}

.menu__icon{
  display: none;
}
/* #endregion */

.offer{
  background: rgb(35,150,253);
  background: linear-gradient(180deg, rgba(35,150,253,1) 50%, rgb(98, 182, 255) 100%);
  height: 90vh;
}

.offer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}
.offer-icon{
  width: 43%;
}
.offer-icon img{
  width: 85%;
  
}
.offer-info{
  width: 50%;
  text-align: right;
}
.offer-info h1{
  text-transform: uppercase;
  color: #ffffff;
}

.offer-info p{
  margin-top: 15px;
  margin-bottom: 25px;
  color: #ffffff;
}

.offer-link{
  
}
.offer-link-title{
  padding: 16px 28px;
  background-color: #f4d400;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
}

.offer-link-title:hover{
  opacity: 0.9;
}
@media screen and (max-width: 1170px) {
  .logo-text{
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .wrapper{
    margin: 0px 25px;
  }
  .navigation li {
    margin-left: 20px;
  }
}

@media screen and (max-width: 830px){
  
  .navigation {
    padding: 100px 30px 30px 30px;
    position: fixed;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;
    background-color: #2396fd;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .navigation._active{
    left: 0;
  }
  .navigation ul{
    flex-direction: column;
    font-size: 18px;
  }
  .navigation li {
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .menu__icon._active span{
  transform: scale(0) translate(0px , -50%);
  }
  .menu__icon._active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
  }
  .menu__icon{
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after{
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }
  .menu__icon::before,
  .menu__icon::after{
    content: "";
  }
  .menu__icon::before{
    top: 0;
  }
  .menu__icon::after{
    bottom: 0;
  }
  .menu__icon span{
    top: 50%;
    transform: scale(1) translate(0px , -50%);
  }
}
@media screen and (max-width: 768px){
  h1 {
    font-size: 23px;
    line-height: 30px;
  }
  .offer-icon img {
    width: 100%;
}
.offer-box{
  flex-direction: column;
  margin: 0px 28px;
}
.offer-info{
  width: 100%;
  text-align: center;
}
}
